.sw?
.*.sw?
*.beam
/.erlang.mk/
/.build/
/cover/
/deps/
/dist/
/doc/
/ebin/
/escript/
/escript.lock
/logs/
/plugins/
/plugins.lock
/sbin/
/sbin.lock
/xrefr
rabbitmq_mqtt_username_interceptor.d
/user.bazelrc
/bazel-*
/.vscode/
